.virtual-healthcare__wrapper {
  padding: 116px 0 155px;
  background: url("../img/illustration/explanation-1.png") right center /
    contain no-repeat;
}

.virtual-healthcare__title,
.virtual-healhtcare__text {
  width: 427px;
  padding-right: 15px;
}

.virtual-healthcare__title {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 17px;
}

.virtual-healhtcare__text {
  font-size: 21px;
  font-weight: 300;
  color: #7d7987;
  margin-bottom: 45px;
}
