.nav {
  &__list {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__item {
    padding-left: 40px;

    &:first-child {
      padding-left: 0;
    }

    &:nth-child(2) {
      margin-left: auto;
    }
  }

  &__link {
    font-size: 18px;
    color: #1f1534;
  }
}
