@import "vars";
@import "fonts";

::placeholder {
  color: #666;
}

::selection {
}
html {
  font-size: 18px;
}
html,
body {
  height: 100%;
}
body {
  min-width: 320px;
  position: relative;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  color: black;
  display: flex;
  flex-direction: column;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.events-none {
  pointer-events: none;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
// footer always at the end of the page
.header {
  flex-shrink: 0;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

@import "./_layout/container";
@import "./_layout/header";
@import "./_layout/footer";

@import "./_sections/virtual-healthcare";
@import "./_sections/services";
@import "./_sections/healthcare-providers";
@import "./_sections/download";
@import "./_sections/review";

@import "./_components/button";
@import "./_components/nav";
@import "./_components/card";
@import "./_components/component";
